
$main-background: #37515C;
$light-background: #EBF5EE;
$button-background: complement(#D7F2FE);
$main-font: 'Open Sans', sans-serif;
$card-background: #D7F2FE;
$hover-button-color: #cff2da;
$active-button-color: #C3C2C6;
$black: #000;
